In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data\mental_health_analysis.csv')
df.head()

,User_ID,Age,Gender,Social_Media_Hours,Exercise_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Wearable_Stress_Score,Support_System,Academic_Performance
0,1,16,F,9.654486,2.458001,5.198926,8.158189,3,0.288962,Moderate,Excellent
1,2,17,M,9.158143,0.392095,8.866097,5.151993,5,0.409446,Moderate,Good
2,3,15,M,5.028755,0.520119,4.943095,9.209325,2,0.423837,Moderate,Poor
3,4,17,F,7.951103,1.022630,5.262773,9.823658,5,0.666021,Moderate,Average
4,5,17,F,1.357459,1.225462,6.196080,11.338990,5,0.928060,High,Poor

In [2]:
data = df.to_dict(orient='records')

In [3]:
DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL = "mongodb+srv://iamhimanshu12goel:9gvVxKrgPXfeBAZK@cluster0.tq1qb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [4]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [5]:
rec = collection.insert_many(data)

In [6]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,User_ID,Age,Gender,Social_Media_Hours,Exercise_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Wearable_Stress_Score,Support_System,Academic_Performance
0,67dbad8314e5c2bfbd1d14e8,1,16,F,9.654486,2.458001,5.198926,8.158189,3,0.288962,Moderate,Excellent
1,67dbad8314e5c2bfbd1d14e9,2,17,M,9.158143,0.392095,8.866097,5.151993,5,0.409446,Moderate,Good